body {
  background-color: rgb(228, 195, 228);
  color: purple;
}
h1 {
  color: purple;
}

.todoTitle {
  color: purple;
  font-size: 1.4rem;
}

body {
  font-family: "Gluten", cursive;
  font-size: 1.2rem;
}

.myBtn {
  background-color: rgb(134, 7, 134);
  color: white;
}

.myBtn:hover {
  background-color: rgb(224, 64, 224);
}

.myBtn:active {
  background-color: rgb(224, 64, 224);
}
